@import 'variables';
@import 'mixins';

.excel__header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: $header-height;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    .title-input {
        margin: 0;
        padding: 2px 7px;
        color: #000;
        border: none;
        border-radius: 2px;
        height: 20px;
        font-size: 18px;
        line-height: 22px;
        outline: none;
        transition: box-shadow .3s ;
        min-width: 1px;
        &:focus,
        &:hover{
            box-shadow: 0px 0px 0px 1px $box-shadow-color;
        }
        &::-webkit-input-placeholder{opacity: 1; transition: opacity 0.3s ease;}
        &:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
    }
    .button{
        @include button($color-red-3,$color-red-1,$color-red-2);
    }
}